<html>
<head>
<title>1802/Mini - Expansion Board</title>
</head>
<body>
<h1>1802/Mini</h1>
<h2>Expansion Board</h2>

<p>This project template is the basis of an expansion board for the
<a href="http://madole.net/1802/mini/" target="blank">1802/Mini</a>
microcomputer based on the CDP1802 processor.</p>

<p>This base project includes a PCB edge defined as the same size as the
1802/Mini Processor PCB with an expansion header and mounting holes placed
correctly to align the two boards.</p>

<p>The board outline looks like the following:</p>

<p><img src="brd.png"></p>

<p>(c)2021 David Madole<br></p>
</body>
</html>
